<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Cadastrar livro</title>
</head>

<body>

	<header>
		<h1><a href="/inicio">Livraria</a></h1>
	</header>


	<form action="/cadastro/livro/salvar" method="POST" th:object="${livro}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{codigo}">
		Titulo: <input type="text" th:field="*{titulo}"> <br>
		ISBN: <input type="text" th:field="*{isbn}"> <br>
		Autor: <input type="text" th:field="*{autor}"> <br>
		Preço: <input type="text" th:field="*{preco}"> <br>
		Imagem: <input type="file" name="imagem"><br>

		<br>


		<button th:if="${codigo == null}" th:text="Cadastrar"> </button>
		<button th:unless="${codigo == null}" th:text="Atualizar"> </button>
		<!--<input type="submit" value="Cadastrar">-->

	</form>

	<src=" /js/bootstrap.min.js" />

</body>

</html>