<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Cadastrar funcionário</title>
</head>

<body>

	<header>
		<h1><a href="/inicio">Livraria</a></h1>
	</header>


	<form action="/cadastro/funcionario/salvar" method="POST" th:object="${funcionario}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{codigo}">
		Nome: <input type="text" th:field="*{nome}"> <br>
		CPF: <input type="text" th:field="*{cpf}"> <br>
		Salário: <input type="text" th:field="*{salario}"> <br>
		Data de nascimento: <input type="text" th:field="*{dataNasc}"> <br>
		Imagem: <input type="file" name="imagem"><br>

		<br>

		<button th:if="${codigo == null}" th:text="Cadastrar"> </button>
		<button th:unless="${codigo == null}" th:text="Atualizar"> </button>
		<!--<input type="submit" class="btn btn-danger" value="Cadastrar">-->

	</form>

</body>

</html>