<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Cadastrar livro</title>
</head>

<body>

	<header>
		<h1><a href="/inicio">Livraria</a></h1>
	</header>


	<form action="/cadastro/livro/salvar" method="POST" th:object="${livro}">
		<input type="hidden" th:field="*{codigo}">
		Titulo: <input type="text" th:field="*{titulo}"> <br>
		ISBN: <input type="text" th:field="*{isbn}"> <br>
		Autor: <input type="text" th:field="*{autor}"> <br>
		Preço: <input type="text" th:field="*{preco}"> <br>
		<!--Foto: <input type=""><br>-->

		<br>

		<input type="submit" class="btn btn-danger" value="Cadastrar">

	</form>

</body>

</html>