<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de livros</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<header class="p-5 bg-black text-white text-center">
		<h1><a class="nav-link link-light" href="/inicio">Livraria</a></h1>
	</header>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container-fluid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item ">
					<a class="nav-link" href="/inicio">Inicio</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cadrastrar</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/cadastro/livro">Livro</a></li>
						<li><a class="dropdown-item" href="/cadastro/cliente">Cliente</a></li>
						<li><a class="dropdown-item" href="/cadastro/funcionario">Funcionário</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="navbar-brand nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Listar</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/listar/livro">Livro</a></li>
						<li><a class="dropdown-item" href="/listar/cliente">Cliente</a></li>
						<li><a class="dropdown-item" href="/listar/funcionario">Funcionário</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5" style="min-height: 720px;">
		<div class="row">
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Titulo</th>
						<th scope="col">ISBN</th>
						<th scope="col">Autor</th>
						<th scope="col">Preço</th>
						<th scope="col">Foto</th>
						<!-- Espaço pra tabela não ficar feia :)-->
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="livro:${livro}">
						<td th:text="${livro.codigo}"> </td>
						<td th:text="${livro.titulo}"> </td>
						<td th:text="${livro.isbn}"> </td>
						<td th:text="${livro.autor}"> </td>
						<td th:text="${livro.preco}"> </td>
						<td><img width="200" height="100" th:src="@{'/imagens/'+${livro.titulo}+.png}" /></td>
						<td><a th:href="@{/atualizar/livro/{codigo}(codigo = ${livro.codigo})}"
								class="btn btn-primary">Atualizar</a></td>
						<td><a th:href="@{/excluir/livro/{codigo}(codigo = ${livro.codigo})}"
								class="btn btn-danger">Deletar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer class="mt-5 p-4 bg-dark text-white text-center">
		<p>© Antonio Evandro 2022, <a href="#" class="link-light">Antonio Evandro</a>.</p>
	</footer>

	<src=" /js/bootstrap.min.js">
</body>

</html>